footer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
}

.container-fluid {
	background-image: url(../images/about-us-bg.jpg);
	background-size: cover;
	height: 100vh;
	position: absolute;
	top: 0;
	padding: 50px;
	z-index: -10;
}

.article {
	background-color: white;
	padding: 20px;
	margin: 50px auto;
	border-radius: 0px;
}

.article p {
	text-align: left;
}

.socmed i {
	margin-left: 20px;
}