* {
	/*border: 1px solid black ;*/
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

body, html {
	height: 100%;
	width: 100%;
}


/*nav {
	position: absolute;
	top: 0;
}*/
.navbar-light {
	background-color: #679c65;
}
.main {
	position: relative;
	z-index: 1000;
}

.parallax {
   /* The image used */

    /* Set a specific height */
    min-height: 500px; 
     /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/
    /*z-index: 500;*/
}

.section-1  {
	/*height: 500px!important;*/
	text-align: center;
    background-image: url("../images/bus-queue-bg.jpg");
    position: relative;
    z-index: 40;
    padding-bottom: 20px!important;
    padding-top: 20px!important;
}


.image > img{
	height: 450px;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	/*margin-left: 100px;*/
}

.section-1 h1, .section-1 p, .section-1 h2 {
	/*text-align: left;*/
}

.section-1 .image {
	position: relative;
	z-index: 60;
}

.section-1 h4 + img{
	width: 200px;
}

.section-1 .col-lg-6{
	position: relative;
	z-index: 70;
}

.section-1:after {
	content: " ";
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	top: 0px;
	z-index: 50;
}

.section-2 {
	/*background-color: #b0daaf;*/
	padding-bottom: 0!important;
	height: 1000px;
	/*color: grey;*/
}

.section-2 .col-lg-6{
	margin: auto;
}

.section-2 .img-left {
	background-image: url(../images/monitoring.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.section-2 .img-right {
	background-image: url(../images/waiting.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.section-2 img {
	/*height: 250px;*/
}

.section-3{
	background-image: url("../images/inside-bus-blk.jpg");
}
.section-3 h2{
	color:white;
}

.section-3 .col-lg-3{
	padding-bottom: 10px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3);
}

.section-4 {
	background-color: #62B660;
}
.section-4 img {
	height: 175px;
	border-radius: 50%;
	/*height: 150px;*/
}
.about-us> .row > .col-lg-6{
	background-color: white;
}
}

.about-us .team p {
	/*text-align: left;*/
}
.article ~ .col-lg-12 img {
	height: 175px;
	border-radius: 50%;

}

.section-4 .text {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.section-5 {
	background-image: url(../images/customer-feedback.jpg);
	position: relative;
	z-index: 10;

}

.form-control {
		text-align: left;
}
.section-5:after {
	content: " ";
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.6);
	position: absolute;
	top: 0px;
	z-index: 20;
}

.section-5 .col-lg-12{
	position: relative;
	z-index: 30;
}

.section-5 .form-group {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.section-5 button {
 margin-right: auto!important;	
 margin-right: auto!important;	
}

.section-5 span {
	color: red;
}

.card {
	height: 100%;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	z-index: 90;
	background-color: rgba(255,255,255,1);
	/*border-radius: 15px;*/
}
.card:hover{
	/*background-color: rgba(255,255,255,1);*/
}
.download {
	margin: 0;
	padding: 0;
}

#app-pic {
	height: 450px;
}

#playstore-pic {
	margin-bottom: 10px;
}


footer {
	height: 8%;
	background-color: #315b30;
	color: white;
	height: auto;
	margin:auto;
	padding: auto;
}

footer p{
	line-height: 72px;
	margin-top: 10px;
}

.download .col-lg-12 {
	margin: 0;
	padding: 0;

}

.find-out {
	background-image: url(../images/about-us-bg.jpg);
	background-size: cover;
	min-height: 85%;
	top: 0;
	padding: 50px;
	position: relative;
	z-index: -10;
}
.find-out:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color:rgba(255, 255, 255,0.4);
	z-index: -9;
}

.reach-us {
	padding: 50px;
	background-color: grey;
	position: relative;
	z-index: 10000;
	border-radius: 5px;
}

.download footer {
	position: absolute;
	bottom: 0px;
}

.socmed {
	margin-top: 10px;
	margin-bottom: 10px;
}

.socmed  i{
	margin: 0px 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.about-us {
	background-image: url(../images/about-us-bg.jpg);
	background-size: cover;
	min-height: 85%;
	top: 0;
	padding: 50px;
	z-index: -10;
}

.about-us .research{
	width: 100%;
	margin: 10px 0;
}

.about-us .article {
	background-color: white;
	padding: 20px;
	margin: 50px auto;
	border-radius: 0px;
	text-align: left;
}

.about-us .article p {
	text-align: left;
}

.about-us .socmed i {
	margin-left: 20px;
}

.scroller {
	position: fixed; 
	bottom: 5%;
	right: 5%;
	z-index: 10000000;
}

.scroller i{
	font-size: 3em;
	color: grey;
}

#download-btn {
	background-color: transparent;
	border:none;
}

[class*="section"]{
	/*height: 700px;*/
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 80px;
	padding-bottom: 100px;
}

li:hover {
	background-color: rgba(255,255,255,0.5);
}

/*tablet view*/
@media only screen and (max-width: 960px) and (min-width: 721px){

}


/*mobile view*/
@media only screen and (max-width: 720px){

	.section-5 .form-group {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
	}

	.download #app-pic {
		width: 100%;
		height: auto;
	}

	footer p{
	line-height: 50px;
	margin-top: 0;
}

}

@media only screen and (min-width: 961px){
	.section-1  {
		/*height: 500px!important;*/
	}


	.image > img{
		height: 350px;
		width: auto;
		margin-top: auto;
		margin-bottom: auto;
		/*margin-left: 100px;*/
	}


	.section-2 .img-left {
		height: 400px;
	}

	.section-2 .img-right {
		height: 400px;
	}

	.modal {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    left: 0;
	    top: 0;
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
}


}

